<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
    ViewData["Title"] = "comprarLibro";
    }
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div style="display:flex;text-align: center; align-items: center; justify-content: center;">
    <div class="DiseñoComprar">
    @if (@ViewBag.compraExitosa)
    {
      <h2>Compra realizada con exito</h2>
    }
    else if (@ViewBag.errorCompra){
      <h2>La compra no se ha podido competar debido a un error</h2>
    }
      <div class="informacion">
      <h1>@ViewBag.InfoLibro.Titulo</h1>
      <!-- <h4>@ViewBag.InfoLibro.Descripcion</h4>-->
      <!-- <h4>@ViewBag.InfoLibro.FechaDePublicacion.Year / @ViewBag.InfoLibro.FechaDePublicacion.Month / @ViewBag.InfoLibro.FechaDePublicacion.Day</h4>-->
      <div class='sm'><img class='comprarimg' src="@ViewBag.InfoLibro.Imagen"></div>
      <h2>Precio: @ViewBag.InfoLibro.Precio</h2>
      <h4>@ViewBag.InfoLibro.NombreAutor</h4>
      <h4>@ViewBag.InfoLibro.Genero</h4>
      </div>

      <div class="opciones">
              <form class="formcompra" method="post" action='@Url.Action("guardarCompra")'>
              <input type="hidden" id="FKUsuario" name="FKUsuario" value="@ViewBag.Usuario.IDUsuario">
              <input type="hidden" id="FKLibro" name="FKLibro" value="@ViewBag.InfoLibro.IDLibro">
              <input type="hidden" id="Precio" name="Precio" value="@ViewBag.InfoLibro.Precio">
              <!-- <input class="button" name="FKMetodoDePago" id="FKMetodoDePago" type="button" style="margin: 3px" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalPago" onclick="ElegirMetodoPago(@ViewBag.InfoLibro.Precio)" required>Eliga el metodo de pago-->
              
                <legend class="tituloForm">Elija el metodo de pago</legend>
                 <div class="border-color-type"> 
                  @foreach (MetodoPago mp in ViewBag.MetodoPago)
                  {
                    <div>
                      <input type="radio" class="btn-check" id="@mp.IDMetodoPago success-outlined" name="FKMetodoDePago" value="@mp.IDMetodoPago" required autocomplete="off" checked>
                      <label class="btn btn-outline-success" for="@mp.IDMetodoPago success-outlined">@mp.MetodoDePago</label>
                  </div>
                  }
                
                  <input type="hidden" id="FechaYHora" name="FechaYHora" value="@DateTime.Now">
                  </div>
                  <input type="submit" class="button" value="Comprar">
              </form>
       </div>
     </div>
  </div>
  <div class="modal fade" id="ModalPago" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5"  id="TituloPago">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" ID="infoPago"> 
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>



