<div style="display:flex;text-align: center;
  align-items: center;
  justify-content: center;">
<div class="DiseñoComprar">
    <h1>@ViewBag.InfoLibro.Titulo</h1>
    <h3>@ViewBag.InfoLibro.Descripcion</h3>
    <h3>@ViewBag.InfoLibro.FechaDePublicacion</h3>
    <img src="@ViewBag.InfoLibro.Imagen">
    <h3>@ViewBag.InfoLibro.Precio</h3>
    <h3>@ViewBag.InfoLibro.NombreAutor</h3>
    <h3>@ViewBag.InfoLibro.Genero</h3>
    
</div>
</div>
