@{
    ViewData["Title"] = "Home Page";
}
@foreach (var item in ViewBag.Libros)
{
    <div class="card" style="display: inline-block; width: 18rem;">
        <img src="@item.Foto" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.Nombre</h5>
            <button type="button" style="margin: 3px" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalLibro" onclick="MostrarTemporadas(@item.IdSerie)">Temporadas</button>
            <button type="button" style="margin: 3px" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalLibro" onclick="MostrarActores(@item.IdSerie)">Actores</button>
            <button type="button" style="margin: 3px" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalLibro" onclick="MostrarInfoSerie(@item.IdSerie)">Info Serie</button>
        </div>
    </div>
}
<div class="modal fade" id="ModalLibro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5"  id="TituloLibro">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="infoLibro">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
