@{
    ViewData["Title"] = "Perfil";
}

<div id="profile-container">
        <h1>Perfil</h1>
        <div id="profile-info">
            <label>Nombre de usuario: @ViewBag.InfoUsuario.NombreUsuario</label>

            <label>ID de usuario: @ViewBag.InfoUsuario.IDUsuario</label>
            
            <label>Email: @ViewBag.InfoUsuario.Gmail</label>

        <a href='@Url.Action("Historial",new{IDusuario = @ViewBag.InfoUsuario.IDUsuario})'>
            <button class="button" type="button" style="margin: 3px" class="btn btn-primary">Ver tu historial</button>
        </a>
        </div>
    </div>
